{{#each this}}
    {{#if childElements}}
        <tr>
            <td><a href="#"  class="dropbtn elementName" onClick="toggleExtra('{{elementName}}')" style="text-decoration:none;">{{elementName}}<span class="caret"></span></a></td>
            <td class="values"><b>Description:</b>{{description}}</td>
        </tr>
        <tr>
            <td></td>
            <td><hr/></td>
        </tr>
        {{#each childElements}}
            {{#if childElements}}
                <tr bgcolor="#C0C0C0" style="display:none" class="extra{{../elementName}}">
                    <td><a href="#"  class="dropbtn elementName" onClick="toggleExtra('{{elementName}}')" style="text-decoration:none;">{{elementName}}<span class="caret"></span></a></td>
                    <td class="values"><b>Description:</b>{{description}}</td>
                </tr>
                <tr bgcolor="#C0C0C0" style="display:none" class="extra{{../elementName}}">
                    <td></td>
                    <td><hr/></td>
                </tr>
                {{#each childElements}}
                    {{#if childElements}}
                        <tr bgcolor="#D3D3D3" style="display:none" class="extra{{../elementName}}">
                            <td><a href="#"  class="dropbtn elementName" onClick="toggleExtra('{{elementName}}')" style="text-decoration:none;">{{elementName}}<span class="caret"></span></a></td>
                            <td class="values"><b>Description:</b>{{description}}</td>
                        </tr>
                        <tr bgcolor="#D3D3D3" style="display:none" class="extra{{../elementName}}">
                            <td></td>
                            <td><hr/></td>
                        </tr>
                        {{#each childElements}}
                            {{#if childElements}}
                                <tr bgcolor="#DCDCDC" style="display:none" class="extra{{../elementName}}">
                                    <td><a href="#" class="dropbtn elementName" onClick="toggleExtra('{{elementName}}')" style="text-decoration:none;">{{elementName}}<span class="caret"></span></a></td>
                                    <td class="values"><b>Description:</b>{{description}}</td>
                                </tr>
                                <tr bgcolor="#DCDCDC" style="display:none" class="extra{{../elementName}}">
                                    <td></td>
                                    <td><hr/></td>
                                </tr>

                            {{else}}
                                <tr bgcolor="#DCDCDC"class="extra{{../elementName}}" style="display:none">
                                    <td class="elementName">{{elementName}}</td>
                                    <td><span class="datatype">{{dataType}}</span></td>
                                </tr>
                                <tr bgcolor="#DCDCDC"  class="extra{{../elementName}}" style="display:none">
                                    <td></td>
                                    <td class="values"><b>Description:</b>{{description}}</td>
                                </tr>
                                {{#if required}}
                                    <tr bgcolor="#DCDCDC"  class="extra{{../elementName}}" style="display:none">
                                        <td></td>
                                        <td class="required"> {{required}} </td>
                                    </tr>
                                {{/if}}
                                <tr bgcolor="#DCDCDC"  class="extra{{../elementName}}" style="display:none">
                                    <td></td>
                                    <td class="values"><b>Default Value:</b> {{{defaultValue}}}</td>
                                </tr>
                                {{#if possibleValues}}
                                    <tr bgcolor="#DCDCDC"  class="extra{{../elementName}}" style="display:none">
                                        <td></td>
                                        <td class="values"><b>Possible Values:</b> {{possibleValues}}</td>
                                    </tr>
                                {{/if}}
                                <tr bgcolor="#DCDCDC"  class="extra{{../elementName}}" style="display:none">
                                    <td></td>
                                    <td>
                                        <hr/>
                                    </td>
                                </tr>
                            {{/if}}
                        {{/each}}
                    {{else}}
                        <tr  bgcolor="#D3D3D3" class="extra{{../elementName}}" style="display:none">
                            <td class="elementName">{{elementName}}</td>
                            <td><span class="datatype">{{dataType}}</span></td>
                        </tr>
                        <tr bgcolor="#D3D3D3"  class="extra{{../elementName}}" style="display:none">
                            <td></td>
                            <td class="values"><b>Description:</b>{{description}}</td>
                        </tr>
                        {{#if required}}
                            <tr bgcolor="#D3D3D3"  class="extra{{../elementName}}" style="display:none">
                                <td></td>
                                <td class="required"> {{required}} </td>
                            </tr>
                        {{/if}}
                        <tr  bgcolor="#D3D3D3" class="extra{{../elementName}}" style="display:none">
                            <td></td>
                            <td class="values"><b>Default Value:</b> {{{defaultValue}}}</td>
                        </tr>
                        {{#if possibleValues}}
                            <tr bgcolor="#D3D3D3"  class="extra{{../elementName}}" style="display:none">
                                <td></td>
                                <td class="values"><b>Possible Values:</b> {{possibleValues}}</td>
                            </tr>
                        {{/if}}
                        <tr bgcolor="#D3D3D3"  class="extra{{../elementName}}" style="display:none">
                            <td></td>
                            <td>
                                <hr/>
                            </td>
                        </tr>
                    {{/if}}
                {{/each}}
            {{else}}
                <tr bgcolor="#C0C0C0" class="extra{{../elementName}}" style="display:none">
                    <td class="elementName">{{elementName}}</td>
                    <td><span class="datatype">{{dataType}}</span></td>
                </tr>
                <tr bgcolor="#C0C0C0"  class="extra{{../elementName}}" style="display:none">
                    <td></td>
                    <td class="values"><b>Description:</b>{{description}}</td>
                </tr>
                {{#if required}}
                    <tr bgcolor="#C0C0C0"  class="extra{{../elementName}}" style="display:none">
                        <td></td>
                        <td class="required"> {{required}} </td>
                    </tr>
                {{/if}}
                <tr bgcolor="#C0C0C0"  class="extra{{../elementName}}" style="display:none">
                    <td></td>
                    <td class="values"><b>Default Value:</b> {{{defaultValue}}}</td>
                </tr>
                {{#if possibleValues}}
                    <tr bgcolor="#C0C0C0"  class="extra{{../elementName}}" style="display:none">
                        <td></td>
                        <td class="values"><b>Possible Values:</b> {{possibleValues}}</td>
                    </tr>
                {{/if}}
                <tr bgcolor="#C0C0C0"  class="extra{{../elementName}}" style="display:none">
                    <td></td>
                    <td>
                        <hr/>
                    </td>
                </tr>
            {{/if}}
        {{/each}}
    {{else}}
        <tr>
            <td class="elementName">{{elementName}}</td>
            <td><span class="datatype">{{dataType}}</span></td>
        </tr>
        <tr>
            <td></td>
            <td class="values"><b>Description:</b>{{description}}</td>
        </tr>
        {{#if required}}
            <tr>
                <td></td>
                <td class="required"> {{required}} </td>
            </tr>
        {{/if}}
        <tr>
            <td></td>
            <td class="values"><b>Default Value:</b> {{{defaultValue}}}</td>
        </tr>
        {{#if possibleValues}}
            <tr>
                <td></td>
                <td class="values"><b>Possible Values:</b> {{possibleValues}}</td>
            </tr>
        {{/if}}
        <tr>
            <td></td>
            <td>
                <hr/>
            </td>
        </tr>
    {{/if}}
{{/each}}